In [1]:
# is used to comment the line in Python.

In [2]:
#Variables in Python..

In [3]:
# Def: Variables are those who hold the value.For eg.

In [4]:
x = 10
y = 5

In [5]:
x*y

50

In [6]:
# Rules for Declairing the Variable in PYTHON....

In [7]:
# Rule No. 01: U Should not use any space during declairing the variable names.
# eg.
first name = "Arsh" #wrong Approach
print(first name)

SyntaxError: invalid syntax (<ipython-input-7-e7b9765b2826>, line 3)

In [12]:
first_name = "Arsh" # Right Approach
print(first_name)

Arsh

In [11]:
# Rule No. 02: u should not start variable name with number...
#Eg..
1name = "Arsh" # Wrong Approach
print(1name)

SyntaxError: invalid syntax (<ipython-input-11-10af7282d610>, line 3)

In [13]:
name1 = "Arsh" # Right Approach
print(name1)

Arsh

In [14]:
# Rule No. 03: U should not use any special character in variable..
#Eg..
@name = "Amir" #Wrong Approach
print(@name)

SyntaxError: invalid syntax (<ipython-input-14-f73d07e8aebd>, line 3)

In [15]:
name = "Amir" #Right Approach
print(name)

Amir

In [ ]:
# DATATYPES IN PYTHON........
1. string
2. integer
3. list
4. tuple
5. dictionary

In [17]:
#Classification Of Data Types In Python...
1. Mutable 
2. UnMutable

In [ ]:
# 3 Ways to define string datatype--->>>str
single quote----->>> ''
double quote----->>> ""
triple quote----->>>'""'

In [18]:
#Eg. of Single Quote
name = 'Arsh'
print(name)

Arsh

In [19]:
#Eg. of double Quote
name1 = "Iyan"
print(name1)

Iyan

In [23]:
#Eg. of Triple Quote
name2 = """Arsh+Iyan"""
print(name2)

Arsh+Iyan

In [ ]:
#Validate datatype by Following.....

In [24]:
type(name)

str

In [25]:
type(name1)

str

In [27]:
type(name2)

str

In [28]:
type(x)

int

In [29]:
type(y)

int

In [30]:
full_name = "shaikh arsh j."
print(full_name)

shaikh arsh j.

In [31]:
print(full_name.title())

Shaikh Arsh J.

In [32]:
# To Convert All Letters In Capital...
print(full_name.upper())

SHAIKH ARSH J.

In [33]:
# To Convert All Letters In Small...
print(full_name.lower())

shaikh arsh j.